aside {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #074c00, #42a341, #b8e2a3);
  div {
    border: 0.1rem solid black;
    &:hover {
      cursor: pointer;
    }
  }
}

.clicked {
  background-color: rgb(5, 252, 5);
  height: 13%;
}
