.baselayout {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 85vh;

  &.home-page {
    // background-image: url("/images/blockchain.jpg");
  }

  &.wallet-page {
    display: flex;
    height: 90vh;
  }
}
